:root {
  --body-background-color: #1A202C;
  --body-text-color: #cbd5e0;
  --card-background-color: #313641;
  --nav-background-color: #313641;
  --nav-border-bottom-color: #484d56;
  --nav-current-border-bottom-color: #5f636b;
  --card-border-color: #484d56;
  --down-border-left-color: #ef4444;
  --down-background-color: #fca5a5;
  --degraded-border-left-color: #eab308;
  --up-border-left-color: #10b981;
  --tag-color: #10b981;
  --tag-up-background-color: #6ee7b7;
  --tag-down-background-color: #fca5a5;
  --tag-degraded-background-color: #fde047;
  --change-background-color: #fde047;
  --error-button-border-color: #3b82f6;
  --error-button-background-color: #3b82f6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #3b82f6;
  --submit-button-background-color: #3b82f6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}